{% extends 'base.html.twig' %}

{% block body %}
    {% if log is defined and log | length %}
        <ul class="nav justify-content-center">
            {% for key, messages in log %}
                <li class="nav-item">
                    log {{ key }}
                    <ul>
                {% for item in messages %}
                    {% if item %}
                        <li>
                            {{ item.nombreContacto }} - {{ item.origen }} - {{ item.destino }} - tipo: 
                            {% if item.tipo %}
                                <span>entrate</span>
                            {% else %}
                                <span>saliente</span>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}                
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        No tenemos resultados
    {% endif %}
{% endblock %}